<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>毕业设计-绘画板</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- smoothness  humanity redmond -->
</head>
<body>
<div id="body">
    <div id="top-area">
        <div class="logo">
            毕业设计-画板
        </div>
        <div class="top-tool-bar clearfix">
            <div class="undoRedoButtons l" id="undoRedoButtons"></div>
            <div id="clearButton" class="l">清空</div>
            <div id="saveButton" class="l">保存</div>
            <div id="resetButton" class="l">重置</div>
            <div id="insertImageButton" class="l"></div>
            <div id="insertFontButton" class="l"></div>
        </div>
    </div>
    <div id="middle-area">
        <div id="canvas-container">
            <div class="mouse-capture">
                <canvas class="cursor-preview"></canvas>
            </div>
            <div class="draw-pic-canvas">
                <canvas id="buffer-canvas" class="buffer-canvas"></canvas>
            </div>
        </div>
    </div>
    <div id="slide-bar">
        <h5>预览图</h5>
        <div id="drawPlzZoom" class="slide-bar-well drawPlzZoom"></div>
        <div id="drawPlzLayers"></div>
    </div>
    <div id="bottom-area">
        <div class="bottom-tool-bar-container clearfix">
            <div class="buttons-controls" id="buttons-controls">
            </div>
            <div class="color-picker">
                <div id="colorPicker"></div>
                <input type="text" id="color" name="color" value="#123456"/>
            </div>
            <div class="brush-slider" id="brush-slider">
            </div>
        </div>
    </div>

</div>
<% if(isDebug){  %>
    <script data-main="js/index" src="js/lib/require.js"></script>
<% }else { %>
    <script data-main="js/src/index" src="js/lib/require.js"></script>

<% } %>
<script id="insertImageModel" type="text/html">
    <h1>保存图片</h1>
    <div>
        <label for="#layer-input">Layer:</label>
        <input type="text" name="layer-input" id="layer-input"/>
    </div>

</script>
</body>
</html>