/* layout.css */
@font-face {
    font-family: 'tool-button';
    src: url('font/stash-icons.eot?6#iefix') format('embedded-opentype'),url('font/stash-icons.ttf?6') format('truetype');
}
body{
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

    background: #f5f5f5 !important;
    overflow: hidden;
}
.mouse-capture{
    position: absolute;
}
.clearfix:after {
    display: block;
    visibility: hidden;
    clear: both;

    height: 0;

    content: ".";
}
.l{
    float: left;
}
.clearfix {
    display: inline-block;
}
.uploadButtonWrap{
    display: block;
    width: 200px;
    height: 26px;
    float: left;
}

.uploadForm button{
    display: none;
    float: left;
}
/* logo */
#top-area{
    height: 49px;
    padding-top: 13px;
    margin-left: 24px;
}
#bottom-area{
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 999;
    background: #f5f5f5 !important;
    width: 930px;
    margin-left: -465px;
}
.logo{
    font-family: "微软雅黑";

    font-size: 22px;
    float: left;
}
.top-tool-bar{
    float: left;
}
.clear-button,#clearButton{
    float: left;
}
.save-button{
    float: left;
}

.uploadImageWrap{
    z-index: 100;
    display: block;
    float: left;
}
#uploadImage{
    display: none;
}
.uploadImageWrap .ok{
    position: absolute;
    left: 40%;
    top: 30%;
    z-index: 102;
}
.uploadImageWrap .cancel{
    position: absolute;
    left: 60%;
    top: 30%;
    z-index: 102;
}



#middle-area{
    height: 827px;
    padding-right: 320px;
    position: relative;
}
#canvas-container{
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    position: relative;
    z-index: 1;
    text-align: center;
    background-color: transparent;
    /* top: 11px; */
}
#slide-bar{
    width: 311px;
    position: absolute;
    right: 0px;
    top: 37px;
    height: 100%;
    z-index: 999;
    background: #f5f5f5 !important;
    margin-right: 27px;
    padding-left: 15px;
}
#slide-bar>h5{
    margin: 10px 0;
    
}

.draw-pic-canvas{
    top: 5px;
    left: 20px;
    height: 453px;
    width: 1006px;
    display: block;
    /* margin-top: 53px; */
    background: #fff;
    overflow: hidden;
    z-index: 2;
    margin: 0;
    position: absolute;
    /* margin-top: 142px; */
    box-shadow: 0 2px 12px rgba(0,0,0,0.2);
    /* margin-left: 340px; */
}
.draw-pic-canvas canvas{
    position:absolute;
    top:0;
    left:0;
}

.header-button{
    float: left;
    text-indent: -9999px;
    cursor: pointer;
}
.forward.header-button:hover{
    background-position: -38px -49px;
}
.back.header-button:hover{
    background-position: -7px -49px;
}

.forward.header-button{
    background-image: url(../img/stash_muro_undoredo_sprite.png);
    background-position: -39px -24px;
    width: 30px;  height: 26px;

}
.forward.header-button.disable{
    cursor: default;
    background-position: -39px -2px;
}


.back.header-button{
    background-image: url(../img/stash_muro_undoredo_sprite.png);
    background-position: -7px -24px;
    width: 30px;
    height: 26px;
}
.back.header-button.disable{
    background-position: -7px -2px;

    cursor: default;
}


/* canvas 相关 */
.paint-canvas{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.buffer-canvas{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;

}

/* mainToolButton */
.mainTool{
    height: 35px;
}
.mainTool .active.toolButton,.subTool .subButton.active{
    border: 1px solid #aaa;
    border-radius: 6px;
    /* background: #fff; */
    /* background: -webkit-linear-gradient(top, #fff 0, #f6f6f6 100%); */
    background: -moz-linear-gradient(top, #fff 0, #f6f6f6 100%);
    background: linear-gradient(top, #fff 0, #f6f6f6 100%);
}
.mainTool .toolButton{
    float: left;
    margin: 0 6px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.subTool{
    /* height: 35px; */
    margin-top: 20px;
}
.subButton{
    float: left;
    margin: 0 6px;

    width: 30px;
    height: 30px;
    font-size: 17px;
    text-align: center;
    line-height: 30px;
    border: 1px solid transparent;
}








.buttons-controls{
    float: left;
    width: 400px;
    height: 50px;

    font-family: "tool-button";
}
[data-action=pencil]:after{
    content: "\e03e";
}
[data-action=eraser]:after{
    content: "\e03c";
}
.Eraser-eraser:after{
    content: "\e03c";
}
[data-action=line]{
    background: url(../img/line_icon.png) no-repeat;
    background-size: 26px;
    background-position: 7px 6px;
}
.Line-solid{
    background: url(../img/line_icon.png) no-repeat;
    background-size: 22px;
    background-position: 4px 4px;
}
.Line-dotted{
    background: url(../img/line_dotted_icon.png) no-repeat;
    background-size: 22px;
    background-position: 4px 4px;
}
[data-action=Rect]{
    background: url(../img/rect_icon.png) no-repeat;
    background-size: 26px;
    background-position: 7px 6px;
}
.Rect-Basic{
    background: url(../img/rect_icon.png) no-repeat;
    background-size: 22px;
    background-position: 4px 4px;
}
.Rect-Solid{
    background: url(../img/rect_solid_icon.png) no-repeat;
    background-size: 22px;
    background-position: 4px 4px;
}
[data-action=Circle]{
    background: url(../img/circle_icon.png) no-repeat;
    background-size: 26px;
    background-position: 7px 6px;
}
.circle-Basic{
    background: url(../img/circle_icon.png) no-repeat;
    background-size: 22px;
    background-position: 4px 4px;
}
.circle-Solid{
    background: url(../img/circle_solid_icon.png) no-repeat;
    background-size: 22px;
    background-position: 4px 4px;
}
[data-action=Picker]:after{
    content: "\e037";
}
.Picker-Basic:after{
    content: "\e037";
}
[data-action=Font]:after{
    content: "\e03f";
}
.Font-Basic:after{
    content: "\e03f";
}
.pencil-pencil:after{
    content: "\e027";
}
.pencil-halftone:after{
    content: "\e042";
}
.pencil-hline{
    background: url(../img/pencil_hline.png) no-repeat;
    background-size: 21px;
    background-position: 3px 3px;
    box-sizing: border-box;
}
.pencil-vline{
    background: url(../img/pencil_vline.png) no-repeat;
    background-size: 21px;
    background-position: 3px 3px;
    box-sizing: border-box;
}
.pencil-spray{
    background: url(../img/pencil-spray.png) no-repeat;
    background-size: 21px;
    background-position: 3px 3px;
    box-sizing: border-box;
}
.pencil-neighbor:after{
    content: "\e031";
}
.pencil-fur:after{
    content: "\e023";
}


.tool-button{
    float: left;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    font-size: 13px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    -moz-transition: all .15s ease-in-out;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    cursor: pointer;
}
.tool-button.active{
    border:1px solid blue;
}
.tool-button:hover{
    font-size: 24px;
    color: #4884d2;
}
.tool-button.draw i{
    /* width: 20px; */
    /* height: 20px; */
    display: block;

}
.tool-button.draw i:before{
    content:"\e03e";
}
.tool-button.eraser i:before{
    content:"\e03c";
}
.color-picker{
    float: left;
    width: 280px;
    height: 102px;
    
}
#colorPicker{
    float: left;
}
#color{
    float: left;

    width: 68px;
    margin-top: 30px;
    margin-left: 9px;
    border: none;
}


.brush-slider{
    font-family: Verdana,sans-serif;
    color: #7f7f7f;
    font-size: 12px;
    float: left;
    /* width: 236px; */
    height: 85px;
}
.opacity-slider,.size-slider,.effect-slider{
    margin-bottom: 5px;
}
.brush-slider .label{
    width: 70px;
    text-align: right;
    color: #7f7f7f;
    display: inline-block;
    vertical-align: middle;
}
.brush-slider .track {
    width: 120px;
    height: 7px;
    background: #E2E1E1;
    display: inline-block;
    vertical-align: middle;
    border: none;
}
.brush-slider .track .ui-slider-handle{
    width: 14px;
    height: 14px;
    background: #fff;
    background: -webkit-linear-gradient(top, #fff, #f6f6f6);
    background: -moz-linear-gradient(top, #fff, #f6f6f6);
    background: linear-gradient(top, #fff, #f6f6f6);
    border: 1px solid #bbb;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    border-radius: 20px;
    cursor: pointer;
}
.brush-slider .track .ui-slider-range{
    background: #b1b1b1;
}
.brush-slider .value{
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
}


/* zoom */
.zoom-in:before{
    content: "\e00a";
}
.zoom-zero:before{
    content:"\e00c";
}
.zoom-out:before{
    content:"\e00b";
}
.slide-bar-well{
    width: 300px;
    height: 166px;
    font-family: tool-button;
}
.slide-bar>h5{
}
.zoom-well{
    width: 100%;
    height: 140px;
    border-radius: 6px;
    z-index: 1;
    box-shadow: 0 0 4px #eee;
    background-color: #f0f0f0;
    border: 1px solid #dedede;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
.zoom-capture{
    position: absolute;

    width: 288px;
    height: 130px;
    top: 0;
    left: 0;
    margin: 4px;
    box-sizing: border-box;
}
.zoom-indicator{
    border: 1px solid #000;

    position: absolute;
    box-sizing: border-box;
}
.zoom-canvas{

}
.zoom-control{
    height: 25px;

}
.zoom-button{
    font-size: 10px;
    width: 23px;
    line-height: 23px;
    height: 23px;
    margin: 0 5px 0 0;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    text-align : center;
}
.zoom-button:hover{
    background-color: #dedede;
}
.zoom-percentage{
    /* width: 30px; */
    height: 23px;
    font-size: 9px;
    line-height: 21px;
    color: #7f7f7f;
    float: right;
    text-align: right;
}
.zoom-canvas-container{
    margin: 4px;
    width: 288px;
    height: 130px;
    background: #fff;
}
#zoom-canvas{
    width: 100%;
    height: 100%;
}



/*  layer */
.LayerList{
    height: 199px;
    background-color: #f0f0f0;
    border: 1px solid #dedede;
    border-radius: 6px;
    z-index: 1;
    box-shadow: 0 0 4px #eee;
    padding: 5px;
    overflow: auto;
}
.Layer{
  
    height: 32px;
    list-style: none;
    line-height: 32px;
    border-bottom: 1px solid #d8d8d8;
    cursor: pointer;
    font-family: Verdana, sans-serif;
    font-size: 12px;
}
.Layer.active{
      background: #fff;

}
.nameInput{
    display: none;
    float: left;
    width: 205px;
    box-sizing: border-box;
    margin-top: 6px;
}
.LayerControl{
    margin-top: 12px;
}
.LayerOpacityControlTrack{
    width: 165px;
    float: left;
}
.LayerOpacityControlName{
    float: left;

}
.LayerOpacityControlValue{
    float: right;

}
.LayerOpacityControl{
    height: 30px;
    
}
.eyeButton {
    float: left;

    margin-left: 13px;
}
.eye-icon{

}
.font-icon{
    font-family: tool-button;
    font-style: normal;
}
.eyeButton i:before{
    content: "\e03a";
}
.eyeButton.disabled i:before{
    content: "\e03b";
}
.LayerName{
    float: left;

    width: 205px;
    box-sizing: border-box;
}
.opacityDisplay{
    float: left;
    /* margin-left: 230px; */
    width: 32px;
    text-align: right;
}
.LayerOpacityControlTrack {
    margin-top: 5px;
}
.LayerAdd .font-icon:before{
    content: "\e00a";
 }
.LayerDel .font-icon:before{
    content: "\e00b";
}
.LayerMergeVisible .font-icon:before{
    content: "\e039";
    float: left;
    width: 23px;
}
.LayerButton{

font-size: 10px;
border-radius: 4px;
width: 23px;
height: 23px;


line-height: 23px;

margin: 0 5px 0 0;
cursor: pointer;
float: left;


color: #050505;
text-align: center;

}
.LayerButton:hover{
    background-color: #dedede;
}